.navbar{
	background: rgba(0, 0, 0, 0.4);
	border: none;
	padding: 0.5em 0.5em;
	margin: 0;
}

.navbar-brand{
	font-size: 1.5em;
}

#hero{
	margin-top: -5em; 
	height: 40%;
	min-height: 210px;
	width: 100%;
	background: url("../src/hero.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: 50%;
}

#foto-perfil{
	max-width: 200px;
	height: 200px;
	border-radius: 80%;
	margin: 1.5em auto;
	background: url("http://via.placeholder.com/350x150");
	background-position: -5em center; 
}

#texto-perfil{
	margin: 1.5em 0;
	padding: 0 1em;
}

@media screen and (max-width: 768px){
	.collapsing{
		position: absolute !important;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 20;
		top: 63px;
		right: 0;
		left: 0;
	}
	
	.collapse.in {
		display: block;
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		z-index: 20;
		top: 63px;
		right: 0;
		left: 0;
	}
	
	.navbar-collapse{
		max-height: none !important;
	}
}